.projects-section {
    background: @secondary-background;
    .flex();
    .inner_box_shadow(@tertiary-background);
    .projects-project_card {
        .flex(column);
        justify-content: space-between;
        background: black;
        border-radius: 1rem;
        height: 20rem;
        width: 45%;
        margin: @m-spacer auto;
        background: @tertiary-background;
        padding: @s-spacer;
        .inner_box_shadow(black);
        h3 {
            font-size: 2rem;
            
            hr {
                .custom_hr(orange);
                margin-bottom: 0;
            }
        }
        li {
            font-family: 'Noto Sans', sans-serif;
            margin-left: .5rem;

        }
    }
    .projects-project_card_links {
        margin-top: @s-spacer/2;
        img {
            height: 3rem;
            width: 3rem;
            filter: invert(1);
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }
    
}